<div class="jumbotron">
	<div class="container">
        <h1>About Negotishake</h1> 
        <p>Negotishake was founded on the idea of creating a social community and to empower employees with what should be a fair salary.Our founders are passionate about their respective fields and negotishake.</p><br> 

		<h1>About Our Team</h1>
		<h4>Holly Hui - Strategic Lead </h4>
		<a class="btn btn-primary btn-lg" role="button">Contact Holly</a>
		
		<h4>Richard Hui - Development Lead</h4>
		<a class="btn btn-primary btn-lg" role="button">Contact Richard</a>
	</div>
</div>