<div class="jumbotron">
	<div class="container">
        <h1>My Info</h1>
        <p>Join our growing community! Once you join and update your profile your employment information will remain in our system and you may also query the negotishake employment system as well.</p>

        <br></br>
		<h1>Verify your current data</h1>
        <p>Take a moment to double check the info we have on file for you. It maybe blank if you have never updated your file.</p>
        
        Job Title
        <select class="form-control">
        	<option>Select Job Title</option>
        	<option>Analyst</option>
        	<option>Associate</option>
        	<option>Associate Director</option>
        	<option>Director</option>
        	<option>Managing Director</option>
        </select>

    	<br>
        Job Sector
        <select class="form-control">
        	<option>Select Job Sector</option>
        	<option>Human Resources</option>
        	<option>Finance</option>
        	<option>Information Technology</option>
        </select>	

    	<br>
        Employer Type
        <select class="form-control">
        	<option>Select Employer Type</option>
        	<option>Public</option>
        	<option>Private</option>
        </select>	

        <br>
        City
        <select class="form-control">
        	<option>Select City</option>
        	<option>Toronto</option>
        	<option>Hong Kong</option>
        </select>

        <br>
        Country
        <select class="form-control">
        	<option>Select Country</option>
        	<option>Canada</option>
        	<option>Hong Kong</option>
        </select>

		<br>
        Currency of Compensation
        <select class="form-control">
        	<option>Select Currency of Compensation</option>
        	<option>CAD</option>
        	<option>USD</option>
        </select>

        <br>
        Total Compensation
        <select class="form-control">
        	<option>Select Total Compensation Band</option>
        	<option>50,000-100,000</option>
        	<option>100,000-150,000</option>
        </select>

    	<br></br>
        <a class="btn btn-primary btn-lg" role="button">Update Data</a>
        <a class="btn btn-primary btn-lg" role="button">Reset all fields</a>	

    </div>
</div>