<div class="jumbotron">
	<div class="container">
        This site was founded on the idea of creating a social community and to empower employees with what should be a fair salary.Our founders are passionate about their respective fields and negotishake.
        <br>
        <br>
        Richard Hui - founder
        Equity Derivatives Trader, Real Estate Investor, Aspiring Entrepreneur</p> 
	</div>
</div>