<div class="jumbotron">
	<div class="container">
        <h1>Search</h1>
        <p> Ever Wonder what compensation is like for other industries? Are you sure you are being compensated fairly for your services? Search our extensive database.   </p>

        <br>
        Job Title
        <select class="form-control">
        	<option>All Job Titles</option>
        	<option>Analyst</option>
        	<option>Associate</option>
        	<option>Associate Director</option>
        	<option>Director</option>
        	<option>Managing Director</option>
        </select>

    	<br>
        Job Sector
        <select class="form-control">
        	<option>All Job Sectors</option>
        	<option>Human Resources</option>
        	<option>Finance</option>
        	<option>Information Technology</option>
        </select>	

    	<br>
        Employer Type
        <select class="form-control">
        	<option>All Employer Types</option>
        	<option>Public</option>
        	<option>Private</option>
        </select>	

        <br>
        City
        <select class="form-control">
        	<option>All Cities</option>
        	<option>Toronto</option>
        	<option>Hong Kong</option>
        </select>

        <br>
        Country
        <select class="form-control">
        	<option>All Countries</option>
        	<option>Canada</option>
        	<option>Hong Kong</option>
        </select>

		<br>
        Currency of Compensation
        <select class="form-control">
        	<option>All Currencies</option>
        	<option>CAD</option>
        	<option>USD</option>
        </select>

        <br>
        Total Compensation
        <select class="form-control">
        	<option>All Compensation Bands</option>
        	<option>50,000-100,000</option>
        	<option>100,000-150,000</option>
        </select>

    	<br></br>
        <a class="btn btn-primary btn-lg" role="button">Query Negotishake</a>
        <a class="btn btn-primary btn-lg" role="button">Reset all fields</a>	
    </div>
</div>